body
{
	background: url("math1.jpg") , whitesmoke;
    
    background-repeat: no-repeat;
    background-size: 100% 50% ;
   
}
#title {
    color:#ffffff;
  
   font-family: 'Dela Gothic One', cursive;
    
}
#welcome {
   
    font-family: 'Train One', cursive;
    color: black;
    font-weight: bold;
    font-size: 50px;
}

.login_div1 , .login_div2
{
    background-image: linear-gradient(to right, rgb(0, 255, 191), rgb(91, 236, 91));
    padding: 10px;
    float: none;
    border-radius: 0px;
   
}
#login_btn {
   padding: 20px;
   margin-bottom:30px;
}


.login_div1 {
    margin-top:200px;
}
.login_div2 {
    margin-bottom: 50px;
   
}

#player1_name , #player2_name
{
display: inline-block;
margin: 20px;

}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}